#topo{
    padding: 5px;
    height: 20px;
    font-size: 10px;
}
    #topo_logo{
        color: white;
        width: 10px;
        float: left;
        height: 10px;
    }

#menu{
    text-align: center;
    color: #EEF4D4;
    background-color: #f562e8;
    padding: 5px;
}
#menu ul li{
    display: inline-block;
    margin-left: 0px 30px;
    vertical-align: top;
}
#menu ul li a{
    font-weight: bolder;
    color: #fed0bb;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#menu ul li a:hover{
    background-color: #f562e8;
}
#menu ul li ul li{
    display: block;
}
#menu ul li ul{
    padding: 10px 0px;
    display: none;
    background-color: #fed0bb;
}
#menu ul li:hover ul{
    display: block;
    position: absolute;
    z-index: 1;
}




